<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title><%= title %></title>

  <!--http://www.html5rocks.com/en/mobile/mobifying/-->
  <meta name="viewport"
        content="width=device-width,user-scalable=no,initial-scale=1, minimum-scale=1,maximum-scale=1"/>

  <!--https://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html-->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="format-detection" content="telephone=no">

  <!-- force webkit on 360 -->
  <meta name="renderer" content="webkit"/>
  <meta name="force-rendering" content="webkit"/>
  <!-- force edge on IE -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="msapplication-tap-highlight" content="no">

  <!-- 🔧 修复：禁用强制全屏，避免移动端全屏问题 -->
  <!-- 原代码会在某些浏览器上自动请求全屏，导致 "API can only be initiated by a user gesture" 错误 -->
  <!-- <meta name="full-screen" content="yes"/> -->
  <!-- <meta name="x5-fullscreen" content="true"/> -->
  <!-- <meta name="360-fullscreen" content="true"/> -->

  <!-- force screen orientation on some browser -->
  <meta name="screen-orientation" content="<%= orientation %>"/>
  <meta name="x5-orientation" content="<%= orientation %>">

  <!--fix fireball/issues/3568 -->
  <!--<meta name="browsermode" content="application">-->
  <meta name="x5-page-mode" content="app">

  <!--<link rel="apple-touch-icon" href=".png" />-->
  <!--<link rel="apple-touch-icon-precomposed" href=".png" />-->

  <link rel="stylesheet" type="text/css" href="style-<%= cssMap %>.css"/>
  <link rel="icon" href="favicon.<%= iconMd5 %>.ico"/>
</head>
<body>
  <canvas id="GameCanvas" oncontextmenu="event.preventDefault()" tabindex="0"></canvas>
  <div id="splash">
    <div class="progress-bar stripes">
      <span style="width: 0%"></span>
    </div>
  </div>

<script src="src/settings.<%= settingsMd5 %>.js" charset="utf-8"></script>
<% if (enableVConsole) { %><script src="vconsole.min.<%= vconsoleMd5 %>.js"></script><% } %>
<script src="main.<%= bootMd5 %>.js" charset="utf-8"></script>

<script type="text/javascript">
(function () {
    // 🔧 修复：在游戏初始化前禁用全屏API
    // 阻止Cocos引擎自动请求全屏，避免 "API can only be initiated by a user gesture" 错误
    (function disableFullscreenBeforeInit() {
        // 保存原始的全屏API
        var _requestFullscreen = Element.prototype.requestFullscreen ||
            Element.prototype.webkitRequestFullscreen ||
            Element.prototype.mozRequestFullScreen ||
            Element.prototype.msRequestFullscreen;

        // 创建一个标记，允许用户手势触发的全屏
        window.__allowFullscreen = false;

        // 包装requestFullscreen，在非用户手势时阻止
        if (_requestFullscreen) {
            Element.prototype.requestFullscreen = function() {
                // 如果游戏还没有初始化完成，阻止全屏
                if (!window.__allowFullscreen) {
                    console.log('[全屏保护] 全屏请求已被阻止（游戏初始化阶段）');
                    return Promise.resolve();
                }
                return _requestFullscreen.apply(this, arguments);
            };

            // 同样处理webkit版本
            if (Element.prototype.webkitRequestFullscreen) {
                Element.prototype.webkitRequestFullscreen = function() {
                    if (!window.__allowFullscreen) {
                        console.log('[全屏保护] 全屏请求已被阻止（游戏初始化阶段）');
                        return;
                    }
                    return Element.prototype.webkitRequestFullscreen.apply(this, arguments);
                };
            }
        }

        console.log('[全屏保护] 全屏API保护已启用');
    })();

    <% if (enableVConsole) { %>
    // open web debugger console
    if (typeof VConsole !== 'undefined') {
        window.vConsole = new VConsole();
    }
    <% } %>

    var debug = window._CCSettings.debug;
    var splash = document.getElementById('splash');
    splash.style.display = 'block';

    function loadScript (moduleName, cb) {
      function scriptLoaded () {
          document.body.removeChild(domScript);
          domScript.removeEventListener('load', scriptLoaded, false);
          cb && cb();
      };
      var domScript = document.createElement('script');
      domScript.async = true;
      domScript.src = moduleName;
      domScript.addEventListener('load', scriptLoaded, false);
      document.body.appendChild(domScript);
    }

    loadScript(debug ? 'cocos2d-js.<%= cocos2dMd5 %>.js' : 'cocos2d-js-min.<%= cocos2dMd5 %>.js', function () {
      if (CC_PHYSICS_BUILTIN || CC_PHYSICS_CANNON) {
        loadScript(debug ? 'physics.<%= physicsMd5 %>.js' : 'physics-min.<%= physicsMd5 %>.js', window.boot);
      }
      else {
        window.boot();
      }
    });
})();
</script>
</body>
</html>
